.themeContainer {
  width: auto;
  height: 100vh;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.themeTitle {
  font: var(--typography-h1);
  color: var(--color-heading);
  margin-bottom: 0px;
}

.themeButton {
  width: fit-content;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
}

.themeText {
  font: var(--typography-text);
  color: var(--color-text);
  margin: 16px 0px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
